:host ::ng-deep table.mat-table,
.mat-form-field {
    width: 100%;
}

:host ::ng-deep .cdk-column-role {
    max-width: 20px;
    padding-right: 44px;
}

:host ::ng-deep .ng-tns-c127-2 {
    width: 100%;
}

.admin-panel-1 {
    margin-top: 20px;
    .choose-role {
        top: 10px;
    }
}
