* {
    box-sizing: border-box;
}

:host ::ng-deep {
    .mat-tab-link {
        font-size: 20px;
    }
    .mat-tab-header {
        border: none;
    }
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: rgb(155, 172, 185);
    }
}

.header {
    width: 100%;
    background-image: radial-gradient(circle at 50% 84.68%, #efeae6 0, #bdc5cb 50%, #8da1b1 100%);
    display: flex;
    justify-content: center;

    .header-container {
        width: 1054px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-panel {
            margin: 0 80px;
        }
        #logo {
            width: 50px;
            height: 50px;
            opacity: 0.5;
        }
        #logout-icon {
            font-size: xx-large;
            cursor: pointer;
        }
        .greetings {
            color: rgb(72, 102, 102);
            margin-right: 20px;
            font-size: 17px;
        }
        .acc-icon {
            cursor: pointer;
            font-size: 30px;
            height: 30px;
            width: 30px;
        }
    }
}

.settings-container,
.logout-container,
.delete-container {
    cursor: pointer;
    padding: 8px 10px;
    display: flex;
    align-items: flex-end;
    span {
        margin-left: 10px;
        font-size: 16px;
    }
}

.settings-container:hover,
.logout-container:hover,
.delete-container:hover {
    background-color: rgb(231, 235, 238);
    transition: 0.4s;
}
