<header class="header">
  <div class="header-container">
    <img src="../../../assets/main-logo.svg" id="logo">
    <nav class="nav-panel" mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link routerLinkActive="active-link" *ngFor="let link of links" (click)="activeLink = link"
        [active]="activeLink === link" routerLink="{{ link.route }}">
        <mat-icon aria-hidden="false" class="header-icons">{{ link.icon }}</mat-icon>
        <span class="header-name">{{ link.name }}</span>
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    <ng-container *ngIf="authUser$ | async as authUser">
      <span class="greetings">What's up, <b>{{ authUser.name }}</b></span>

      <mat-icon class="acc-icon" [matMenuTriggerFor]="menu">account_circle</mat-icon>
      <mat-menu #menu="matMenu" class="dropdown-menu">
        <div class="settings-container" mat-menu-item [matMenuTriggerFor]="settingsPanel">
          <mat-icon>settings</mat-icon>
          <span id="settings">Settings</span>
        </div>
        <mat-menu #settingsPanel>
          <p routerLink="/adminPanel" id="admin-panel">Admin panel</p>
        </mat-menu>
        <div class="logout-container" (click)="signOut()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </div>
        <div class="delete-container" (click)="deleteAcc(authUser._id)">
          <mat-icon>delete</mat-icon>
          <span>Delete account</span>
        </div>
      </mat-menu>
    </ng-container>
  </div>
</header>