.btn {
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(205, 243, 231);
    font-weight: 700;
}

.user {
    position: relative;
    width: 385px;
    height: 30px;
    margin-bottom: 3px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(178, 170, 170);
    border-radius: 4px;

    .surname {
        margin: 0;
        font-size: large;
    }

    .edit-surname {
        position: absolute;
        left: 110px;
        border: none;
        background-color: white;
        font-size: large;
        width: 150px;
    }

    .edit-surname:enabled {
        background-color: #fce8e8;
        border: 1px solid gray;
        border-radius: 4px;
    }

    .edit-save {
        position: absolute;
        top: 5px;
        left: 277px;
        height: 20px;
        width: 70px;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
        cursor: pointer;
        margin-left: 5px;
        padding-top: 5px;
    }
}
