.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210px;
    border: 1px solid gray;
    box-shadow: 2px 2px 10px 1px #888888;
    border-radius: 5px;
    padding: 20px 20px;
    background-color: white;
    .form-title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: large;
        color: black;
    }
    .form-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        .example-full-width {
            position: relative;
        }
        .errors {
            color: #cb004d;
            margin-bottom: 10px;
        }
        .down-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #6543b3;
        }
    }
}

.eye-icon {
    position: absolute;
    color: rgb(196, 194, 194);
    cursor: pointer;
    margin-left: -20px;
    font-size: 20px;
}

:host ::ng-deep .mat-button {
    color: black;
}
