* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 50px;
}

.container {
    background-image: url('../../../assets/texture-background-min.jpg');
    background-size: cover;
    height: 100vh;
    app-login-form {
        display: flex;
        justify-content: center;
    }
}
