* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 50px;
}

.container {
    background-color: #a272d1;
    height: 100vh;
    app-regist-form {
        display: flex;
        justify-content: center;
    }
}
